
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    
    <%= link_to 'Pinterested', pins_path, class: "btn btn-success btn-lg" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <%= link_to 'Home', root_path, class: "btn btn-success  btn-lg" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', home_about_path, class: "btn btn-success btn-lg" %>
        </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success btn-lg" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Add Pin', new_pin_path, class: "btn btn-success btn-lg" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-success btn-lg" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: "btn btn-success btn-lg" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Join', new_user_registration_path, class: "btn btn-success btn-lg" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>